---
// Bu bölüm Astro'nun kod çalıştırma alanıdır.
---
<svg
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 23160 6410"  {/* viewBox'ı 10 kat büyüttüm, scale(0.1) telafisi için */}
  fill="currentColor"
  {...Astro.props}
>
  <title>Kraffe Roasters Logo</title>
  {/* <g transform="translate(0,641) scale(0.1,-0.1)"> etiketi kaldırıldı */}
  {/* Path koordinatları orijinal, viewBox ayarlandı */}
  <path d="M2194 5893 c-157 -208 -458 -604 -668 -881 l-381 -504 -3 436 -2 436 -458 421 c-251 232 -467 431 -480 442 l-22 20 0 -2031 0 -2032 477 2 478 3 5 930 5 931 720 -933 720 -932 583 -1 c320 0 582 2 582 4 0 3 -371 483 -825 1067 -509 657 -821 1067 -816 1073 5 6 336 425 737 931 401 506 742 937 758 958 l28 37 -575 0 -576 0 -287 -377z"/>
  <path d="M4630 4240 c0 -2016 0 -2032 20 -2019 10 8 222 178 469 379 l450 365 0 418 1 418 72 -3 71 -3 541 -797 541 -797 553 -1 c440 0 552 3 546 12 -5 7 -282 398 -616 870 -334 471 -608 860 -608 865 0 5 28 23 63 39 106 50 264 162 351 249 233 233 350 548 333 895 -14 267 -119 509 -306 704 -166 172 -367 290 -606 354 -248 67 -349 73 -1162 79 l-713 5 0 -2032z m1315 1279 c265 -27 436 -109 519 -251 38 -66 66 -186 66 -287 0 -161 -46 -286 -140 -381 -136 -139 -345 -200 -685 -200 l-135 0 0 565 0 565 133 0 c74 0 183 -5 242 -11z"/>
  <path d="M13820 4235 l0 -2035 483 2 482 3 3 803 2 802 393 0 393 0 302 408 302 407 -695 3 -695 2 0 405 0 405 780 0 780 0 0 415 0 415 -1265 0 -1265 0 0 -2035z"/>
  <path d="M17222 4238 l3 -2033 483 -3 482 -2 0 805 0 805 393 0 393 0 302 408 303 407 -696 3 -695 2 0 405 0 405 780 0 780 0 0 415 0 415 -1265 0 -1265 0 2 -2032z"/>
  <path d="M20622 4238 l3 -2033 1263 -3 1262 -2 0 430 0 430 -790 0 -790 0 0 400 0 400 665 0 665 0 0 415 0 415 -665 0 -665 0 0 370 0 370 423 0 422 0 350 412 c193 227 352 416 353 420 2 4 -559 8 -1247 8 l-1251 0 2 -2032z"/>
  {/* </g> etiketi kaldırıldı */}
</svg>
